<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="./styles.css">
    <title>Metadata Viewer</title>
</head>
<body>
    
    <div class="container-fluid mt-5">               
        <h1>Lets Get Some Metadata</h1>
        <h3>Just choose the file you want to upload and click "Get Metadata!"</h3>
        <div class="form">
            <form action="/api/uploads" method="post" enctype="multipart/form-data">
                <input type="file" name="myFile"/>
                <input type="submit" value="Get Metadata!"/>                
            </form>
        </div>
   </div>

</body>
</html>